/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
    height: 100%;
    font-family: Trebuchet MS;
}

html, body a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
    float: left;
}

.sidebar-nav {
    float: left;
    background-color: #DDDDDD;
    width: 210px;
    height: 100%;
}

.sidebar-nav ul {
    list-style-type: none;
}

.sidebar-nav ul li {
    height: 40px;
    margin-bottom: 5px;
}

.sidebar-nav ul li a {
    text-decoration: none;
    font-family: comic sans ms;
    color: black;
}

.sidebar-nav ul li a img {
    max-height: 40px;
    vertical-align: text-bottom;
    margin-right: 7px;
}

.navbar-static-top {
    background-color: #085394;
    height: 30px;
    padding: 10px;
}

.navbar-static-top a {
    color: white;
    text-decoration: none;
}

#userSettings {
    cursor: pointer;
}

#user_configurations {
    background-image: url("settings-background.png");
    background-size: 245px 134px;
    float: left;
    height: 41px;
    padding: 47px 21px;
    position: absolute;
    right: 10px;
    width: 204px;
    display: none;
}

.content {
    float: left;
    padding: 15px;
}

.featuredEvents {
    float: left;
    height: 276px;
    margin: -15px;
    position: absolute;
    width: 100%;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.featuredEvents h2 {
    margin-left: 10px;
    text-transform: uppercase;
}

.event {
    float: left;
    width: 200px;
    margin-top: 22px;
    border: 1px solid #E8E8EA;
    border-radius: 8px;
    padding: 10px;
    height: 221px;

    /*Background*/
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.buyTicketButton {
    border-radius: 5px;
    float: left;
    padding: 5px;
    text-align: center;
    width: 190px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 6px;

    background: #299a0b; /* Old browsers */
    background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );
}

.event img {
    float: left;
    margin-bottom: 8px;
    margin-left: 30px;
    width: 140px;
}

.event span {
    width: 200px;
    float: left;
    text-align: center;
}

.content h1 {
    color: #000000;
    font-family: comic sans ms;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.logo {
    float: left;
}

.logo a {
    color: #00ffff;
    font-family: comic sans ms;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}

.search-bar-top {
    float: left;
}

.search-bar-top input {
    border-radius: 5px;
    float: left;
    height: 25px;
    margin-left: 35px;
    opacity: 0.25;
    width: 630px;
}

.user-icons-top {
    float: right;
}

.user-icons-top ul {
    list-style-type: none;
    margin: 5px 0 0;
}

.user-icons-top ul li {
    display: inline;
    margin: 0 10px;
}

.user-icons-top ul li img {
    height: 20px;
}

.user-icons-top ul li span {
    color: #fff;
    font-family: comic sans ms;
    vertical-align: text-bottom;
}

.nav-list {
    float: left;

}